@mixin typography($variant) {
  font-size: map-get($typography-variants, $variant);
  line-height: 140%;
  font-style: normal;
  font-weight: normal;
}

// Typography
@mixin H1 {
  @include typography('h1');
}

@mixin H2 {
  @include typography('h2');
}

@mixin H3 {
  @include typography('h3');
}

@mixin H4 {
  @include typography('h4');
}

@mixin H5 {
  @include typography('h5');
}

@mixin H6 {
  @include typography('h6');
}

@mixin Paragraph {
  @include typography('paragraph');
}

@mixin H7 {
  @include typography('h7');
}

@mixin H8 {
  @include typography('h8');
}

@mixin H9 {
  @include typography('h9');
}
