@import '../styles/main.scss';

html,
body {
  width: 300px;
  height: 480px;
  background: transparent;
  border: 0px;
}

#app-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  // border: 1px dashed #0c0c0c;
  border: 0;
  border-radius: 8px;
}
