dist/
dist-zip/
node_modules/
src/**/*.md
README.md
LICENSE
**/*.svg
package.json
.eslintignore
*.png
*.toml
*.png
*.toml
.DS_Store
docker
Dockerfile*
.dockerignore
.eslintcache
.editorconfig
.history
tsconfig.json
jsconfig.json