.demo-page {
  &__wrapper {
    width: 100%;
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
  }

  &__header {
    @include H4;
    color: $text-secondary;
  }

  &__body {
    @include H5;
    color: error-color;

    span {
      color: $black;
    }
  }
}
