/**
 * This file is used to define the ListPage style.
 * This file must be imported into parent scss file, to take it effect.
 * like : @import './list/list.scss';
*/
.list-page {
  &__wrapper {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
  }
}
