$brave-avatar-size: 80;

$brave-banner-background: rgb(222, 225, 230);

.home-banner {
  &__wrapper {
    width: 100%;
    height: 278px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: linear-gradient(
      to bottom,
      rgba($brave-banner-background, 1) 1%,
      rgba($brave-banner-background, 0.8) 15%,
      rgba($brave-banner-background, 0.9) 31%,
      rgba(255, 255, 255, 1) 32%,
      rgba(255, 255, 255, 1) 100%
    );
  }

  &__brave--name {
    color: $primary-color;
    font-size: 1.75rem;
  }

  &__logo--wrapper {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
  }

  &__logo--leftfill {
    width: 33.333333%;
    flex: 0 0 33.333333%;
  }

  &__logo {
    // padding: 2px 0px;
    flex: 1 1 33.33333%;
    .brave-avatar {
      background: #fff;
      padding: 2px;
    }
  }

  &__network--wrapper {
    cursor: pointer;
    height: 40px;
    flex: 0 0 33.33333%;
    display: flex;
    flex-direction: row;
    flex-flow: row nowrap;
    align-items: flex-end;
    color: $primary-color;
    overflow-x: hidden;
    justify-content: space-evenly;

    .network-icon {
      font-size: 24px;
      color: rgb(212, 35, 122);
    }
  }

  &__selected {
    font-size: 1.05rem;
    color: $text-address;
    text-align: center;

    .address-switch-icon {
      cursor: pointer;
      font-size: 16px;
      padding-left: 12px;
      font-weight: 600;
    }
  }

  &__asset {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    flex: 1 1 auto;

    justify-content: center;
    align-items: center;

    &--box {
      flex-flow: column nowrap;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex: 0 0 20%;
      text-align: center;
    }
    .asset-logo {
      cursor: pointer;
      font-size: 28px;
    }

    .asset-balance {
      padding: 0px 6px;
      font-size: 14px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  &__footbar {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;

    .footbar-left-fill {
      flex: 1 1 80%;
    }

    .icon-grounp {
      flex: 0 0 auto;
      padding: 0 4px;
      //   border: 1px dashed #ccc;
    }

    .icon-grounp > span:not(:first-child) {
      margin-left: 4px;
    }
  }
}
