/**
 * This file is used to define the AssetsPage style.
 * This file must be imported into parent scss file, to take it effect.
 * like : @import './digital-assets/digital-assets.scss';
*/
.assets-page {
  &__wrapper {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
  }
}
